<!DOCTYPE html>
<html>

<style>

    #picture:hover {
        filter: brightness(300%);
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ARC</title>

    <%- include("./partials/stylesheets.ejs") %>

</head>

<body>

    <% 
        function parseDateForProfile(date) {
            const day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();       
            const month = (date.getMonth() + 1) < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
            const hour = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
            const minute = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

            return `${day}-${month}-${date.getFullYear()} ${hour}:${minute}`;
        } 
    %>

    <%- include("./partials/navigation.ejs") %>

    <div class="container">
        
        <% if (typeof error != 'undefined') { %>
        <div class="row">
            <div class="col-md-12">
                    <div class="alert alert-danger" role="alert"><span><%= error %></span></div>
                </div>
            </div>
        <% } else { %>

            <form id="photo-form" action="/profile/editPhoto" method="POST" enctype="multipart/form-data" style="display: none;">
                <input type="file" name="photo" id="photo" onchange="document.getElementById('photo-form').submit()">
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12 text-center align-self-center" style="text-align: left;">
                            <% if (typeof session.photoURL == 'undefined') { %>
                                <i id="picture" class="fa fa-user-circle-o" style="font-size: 130px;" onclick="document.getElementById('photo').click();"></i>
                            <% } else if (typeof session.oauth == 'undefined') { %>
                                <img id="picture" src="<%= session.photoURL %>" width="130px" onclick="document.getElementById('photo').click();" style="border-radius: 50%;" alt="user photo">
                            <% } else { %>
                                <img src="<%= session.photoURL %>" width="130px" style="border-radius: 50%;" alt="user photo">
                            <% } %>
                            <h1 class="display-4 text-center"><%= session.name %></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 20px">
                <div class="col-md-6">
                    <h3>Ostatnie testy</h3>
                    <p><em>Liczba wykonanych testów: </em><strong><em><%= stats.testsAmount %></em></strong></p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 50%;">Liczba punktów</th>
                                    <th>Data wykonania</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let [key, value] of Object.entries(stats.tests)) { %>
                                    <tr>
                                        <td><%= value.points %>/<%= value.maxpoints %></td>
                                        <td><%= parseDateForProfile(value.dateFinished.toDate()) %></td>
                                    </tr>
                                <% }  %>  
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Ostatnio dodane słowa</h3>
                    <p><em>Liczba wszystkich słów:</em><strong><em> <%= stats.wordsAmount %></em></strong></p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 50%;">Słowo</th>
                                    <th>Tłumaczenie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let [key, value] of Object.entries(stats.words)) { %>
                                    <tr>
                                        <td><%= key %></td>
                                        <td><%= value %></td>
                                    </tr>
                                <% }  %>    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/scripts.ejs") %>

</body>

</html>