<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Comscelingo</title>

    <%- include("./partials/stylesheets.ejs") %>

</head>

<body>

    <%- include("./partials/navigation.ejs") %>

    <div class="container">
        <div class="form-row">
            <div class="col">
                <% if (typeof errors != 'undefined') { %>
                    <% for (error of errors) { %>
                        <div class="alert alert-danger" role="alert"><span><%= error %></span></div>
                    <% } %>
                <% } %>
                <% if (typeof words != 'undefined') { %>
                <h3>Słowa dodane do bazy (<%= Object.keys(words).length %>):</h3>
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Słowo</th>
                            <th>Tłumaczenie</th>
                            <th>Częstotliwość występowania</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let word of Object.keys(words)) { %>
                            <tr>
                                <td style="width: 38%;"><%= word %></td>
                                <td style="width: 38%;"><%= words[word].translation %></td>
                                <td style="width: 24%;"><%= words[word].priority %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>

    <%- include("./partials/scripts.ejs") %>

</body>

</html>